{% extends "layout.html" %}
{% block content %}
<br>
<h5 style="color: black; text-align: center; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 40px;">Best Players</h5>
    


<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Rank</th>
        <th scope="col">Lp</th>
        <th scope="col">Win</th>
        <th scope="col">Winrate</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{best_players.iloc[0,0]}}</td>
        <td>{{best_players.iloc[0,1]}}</td>
        <td>{{best_players.iloc[0,2]}}</td>
        <td>{{best_players.iloc[0,3]}}</td>
        <td>{{best_players.iloc[0,4]}}</td>
      </tr>
      <tr>
        <td>{{best_players.iloc[1,0]}}</td>
        <td>{{best_players.iloc[1,1]}}</td>
        <td>{{best_players.iloc[1,2]}}</td>
        <td>{{best_players.iloc[1,3]}}</td>
        <td>{{best_players.iloc[1,4]}}</td>
      </tr>
      <tr>
        <td>{{best_players.iloc[2,0]}}</td>
        <td>{{best_players.iloc[2,1]}}</td>
        <td>{{best_players.iloc[2,2]}}</td>
        <td>{{best_players.iloc[2,3]}}</td>
        <td>{{best_players.iloc[2,4]}}</td>
      </tr>
      <tr>
        <td>{{best_players.iloc[3,0]}}</td>
        <td>{{best_players.iloc[3,1]}}</td>
        <td>{{best_players.iloc[3,2]}}</td>
        <td>{{best_players.iloc[3,3]}}</td>
        <td>{{best_players.iloc[3,4]}}</td>
      </tr>
      <tr>
        <td>{{best_players.iloc[4,0]}}</td>
        <td>{{best_players.iloc[4,1]}}</td>
        <td>{{best_players.iloc[4,2]}}</td>
        <td>{{best_players.iloc[4,3]}}</td>
        <td>{{best_players.iloc[4,4]}}</td>
      </tr>
      <tr>
        <td>{{best_players.iloc[5,0]}}</td>
        <td>{{best_players.iloc[5,1]}}</td>
        <td>{{best_players.iloc[5,2]}}</td>
        <td>{{best_players.iloc[5,3]}}</td>
        <td>{{best_players.iloc[5,4]}}</td>
      </tr>
      <tr>
        <td>{{best_players.iloc[6,0]}}</td>
        <td>{{best_players.iloc[6,1]}}</td>
        <td>{{best_players.iloc[6,2]}}</td>
        <td>{{best_players.iloc[6,3]}}</td>
        <td>{{best_players.iloc[6,4]}}</td>
      </tr>
      <tr>
        <td>{{best_players.iloc[7,0]}}</td>
        <td>{{best_players.iloc[7,1]}}</td>
        <td>{{best_players.iloc[7,2]}}</td>
        <td>{{best_players.iloc[7,3]}}</td>
        <td>{{best_players.iloc[7,4]}}</td>
      </tr>
      <tr>
        <td>{{best_players.iloc[8,0]}}</td>
        <td>{{best_players.iloc[8,1]}}</td>
        <td>{{best_players.iloc[8,2]}}</td>
        <td>{{best_players.iloc[8,3]}}</td>
        <td>{{best_players.iloc[8,4]}}</td>
      </tr>
      <tr>
        <td>{{best_players.iloc[9,0]}}</td>
        <td>{{best_players.iloc[9,1]}}</td>
        <td>{{best_players.iloc[9,2]}}</td>
        <td>{{best_players.iloc[9,3]}}</td>
        <td>{{best_players.iloc[9,4]}}</td>
      </tr>
      <tr>
        <td>{{best_players.iloc[10,0]}}</td>
        <td>{{best_players.iloc[10,1]}}</td>
        <td>{{best_players.iloc[10,2]}}</td>
        <td>{{best_players.iloc[10,3]}}</td>
        <td>{{best_players.iloc[10,4]}}</td>
      </tr>
    </tbody>
</table>

<img src=" https://www.xtrafondos.com/wallpapers/vertical/lucian-de-league-of-legends-6429.jpg" width="215px" height="400px">
<img src="https://www.xtrafondos.com/wallpapers/vertical/vayne-de-league-of-legends-5872.jpg" width="215px" height="400px">
<img src="https://i.pinimg.com/736x/69/76/e3/6976e36f8359739937322da4eeda2de9.jpg" width="215px" height="400px">
<img src="https://2.bp.blogspot.com/-aDVM_Vs7daY/XIcWxOSpd2I/AAAAAAAAI3M/gAD-8PckE2MkbQorZTYPHo6zDO5jvIBNACLcBGAs/s2560/riot-kayle-league-of-legends-6x-1440x2560.jpg" width="215px" height="400px">
<img src="https://fsb.zobj.net/crop.php?r=aFPr5vbTBQHoZb2kIQGOQERluxinYlLhTGcQzsQv0AVOQVPpnjCVGptf7UCt5Q-fL-C7qA5NAMogyyFvkWOm5A-w5VQKmjT0MXLBih7_RtDsUtduHZgtGI-J_FsKF2yVQE2RiKj2xA5O9xA9" width="227px" height="400px">







{% endblock %}