@font-face {
    font-family: "lobsterregular";
    src: url("./fonts/lobster-regular-webfont.woff2") format("woff2"),
      url("./fonts/lobster-regular-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}
  
@font-face {
    font-family: "work_sansregular";
    src: url("./fonts/worksans-variablefont_wght-webfont.woff2") format("woff2"),
      url("./fonts/worksans-variablefont_wght-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0px;
    margin: 0;
    font-family: work_sansregular;
}

.navbar-text{
    color: rgb(250, 250, 250)
}

.navbar-brand{
    color: rgb(250, 250, 250);
    font-family: lobsterregular;
    font-size: 2.5rem;
}

.navbar-brand:hover{
    color: rgb(250, 250, 250);
    font-family: lobsterregular;
}

.site-header-logo h1{
    color: black;
    font-family: lobsterregular;
    font-size: 3rem;
    margin-top: 2rem;
}
body{
    margin: 0;
    padding: 0;
    background-size: cover;
}
h1{
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size: 24px;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}
input[type="text"]{
    background: #fff;
}
table,
td {
    border: -1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
.grise {
    background-color:#e3f2fd;
    }